In [1]:
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd

In [29]:
pip install selenium webdriver-manager

Requirement already satisfied: selenium in c:\users\rake0\anaconda3\lib\site-packages (4.31.0)
Requirement already satisfied: webdriver-manager in c:\users\rake0\anaconda3\lib\site-packages (4.0.2)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\rake0\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.3)
Requirement already satisfied: trio~=0.17 in c:\users\rake0\anaconda3\lib\site-packages (from selenium) (0.29.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rake0\anaconda3\lib\site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rake0\anaconda3\lib\site-packages (from selenium) (2025.1.31)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\rake0\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\rake0\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: requests in c:\users\rake0\anaconda3\lib\site-packages (from webdriver-manager) (2.32.3)
Requirement already satisfied: python-dotenv in c:\users\rake0\anaconda3\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: packaging in c:\users\rake0\anaconda3\lib\site-packages (from webdriver-manager) (24.1)
Requirement already satisfied: attrs>=23.2.0 in c:\users\rake0\anaconda3\lib\site-packages (from trio~=0.17->selenium) (25.3.0)
Requirement already satisfied: sortedcontainers in c:\users\rake0\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\rake0\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.7)
Requirement already satisfied: outcome in c:\users\rake0\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\rake0\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rake0\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.17.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\rake0\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rake0\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rake0\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3.2)
Requirement already satisfied: pycparser in c:\users\rake0\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rake0\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rake0\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rake0\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rake0\anaconda3\Lib\site-packages)

In [3]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service as EdgeService
from selenium.webdriver.edge.options import Options as EdgeOptions
from webdriver_manager.microsoft import EdgeChromiumDriverManager
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time
import re

In [182]:
Title = []
Ratings = []
Reviews  = []
C_Type = []
Salaries = []
Interviews = []
Jobs = []
for i in range(1,24):
    url = f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={i}"
    service = EdgeService(EdgeChromiumDriverManager().install())
    options = EdgeOptions()
    driver = webdriver.Edge(service=service, options=options)
    driver.get(url)
    print(url)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")
    company = soup.find_all("div", class_ = "companyCardWrapper")

    for i in company:
        title = i.find("h2", class_ = "companyCardWrapper__companyName")
        titreg = re.findall(r"\s+(.+)\s+",title.text)
        if titreg:
            Title.append(titreg[0])
        else:
            Title.append(np.nan)

        rating = i.find("div", class_ = "rating_star_container")
        ratreg = re.findall(r"\s+(.+)",rating.text)
        if ratreg:
            Ratings.append(ratreg[0])
        else:
            Ratings.append(np.nan)

        reviews = i.find("span", class_ = "companyCardWrapper__companyRatingCount")
        revreg = re.findall(r"\((.+)\)",reviews.text)
        if revreg:
            Reviews.append(revreg[0])
        else:
            Reviews.append(np.nan)

        ctype = i.find("span", class_ = "companyCardWrapper__interLinking")
        typreg = re.findall(r"\s+(.+)\s\|",ctype.text)
        if typreg:
            C_Type.append(typreg[0])
        else:
            C_Type.append(np.nan)

        salary = re.findall(r"Reviews(.+)\sSalaries",i.text)
        if salary:
            Salaries.append(salary[0])
        else:
            Salaries.append(np.nan)
            
        interview = re.findall(r"Salaries(.+)\sInter",i.text)
        if interview:
            Interviews.append(interview[0])
        else:
            Interviews.append(np.nan)

        job = re.findall(r"Interviews(.+)\sJobs",i.text)
        if job:
            Jobs.append(job[0])
        else:
            Jobs.append(np.nan)

        
            
    driver.quit()


# 59.1k Reviews5.9L Salaries8.3k Interviews9.1k Jobs7.4k Benefits39 Photos

https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=2
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=3
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=4
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=5
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=6
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=7
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=8
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=9
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=10
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=11
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=12
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=13
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=14
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=15
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=16
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=17
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=18
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=19
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=20
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=21
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=22
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=23

In [184]:
len(Title)

440

In [186]:
len(Ratings)

440

In [188]:
len(Reviews)

440

In [190]:
len(C_Type)

440

In [192]:
len(Salaries)

440

In [194]:
len(Interviews)

440

In [196]:
len(Jobs)

440

In [198]:
dic = {"Company Name":Title,"Ratings":Ratings,"Reviews":Reviews,"Industry Type":C_Type,"Salaries":Salaries,"Total Interviews":Interviews,"Total Jobs":Jobs}

In [216]:
df = pd.DataFrame(dic)
df

,Company Name,Ratings,Reviews,Industry Type,Salaries,Total Interviews,Total Jobs
0,TCS,3.7,93.4k,IT Services & Consulting,8.9L,10.7k,96
1,Accenture,3.8,59.1k,IT Services & Consulting,5.9L,8.3k,9.1k
2,Wipro,3.7,55k,IT Services & Consulting,4.5L,5.7k,3.4k
3,Cognizant,3.7,52.2k,IT Services & Consulting,5.7L,5.7k,176
4,Capgemini,3.7,43.8k,IT Services & Consulting,4.4L,4.9k,1.7k
...,...,...,...,...,...,...,...
435,ITC Hotels,4.1,1.7k,NaN,5.4k,86,--
436,CitiusTech,3.4,1.7k,IT Services & Consulting,12.9k,278,18
437,Google,4.4,1.7k,Software Product,20.4k,853,42
438,Spark Minda,3.9,1.7k,Auto Components,6.4k,128,16
439,Tata Motors Finance,4.1,1.7k,NBFC,4.8k,66,2

In [206]:
df.to_csv("AmbitionBox_7col.csv")

In [208]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company Name      440 non-null    object
 1   Ratings           440 non-null    object
 2   Reviews           440 non-null    object
 3   Industry Type     421 non-null    object
 4   Salaries          440 non-null    object
 5   Total Interviews  440 non-null    object
 6   Total Jobs        440 non-null    object
dtypes: object(7)
memory usage: 24.2+ KB

In [248]:
for i in soup.find_all("div",class_="col-left"):
    print(i.get("href"))

None

In [1]:
url = "https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=2"

In [ ]:
request_header = {'Content-Type': 'text/html; charset=UTF-8','User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36 Edg/135.0.0.0','Accept-Encoding': 'gzip, deflate, br'}
page = requests.get(url,headers = request_header)

In [ ]:
requests.get(url)

In [3]:
soup.find("div",class_="companyCardWrapper")

NameError: name 'soup' is not defined

In [19]:
Title = []
Ratings = []
Reviews  = []
C_Type = []
Salaries = []
Interviews = []
Jobs = []
for i in range(1,3):
    url = f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={i}"
    service = EdgeService(EdgeChromiumDriverManager().install())
    options = EdgeOptions()
    driver = webdriver.Edge(service=service, options=options)
    driver.get(url)
    print(url)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")
    company = soup.find_all("div", class_ = "companyCardWrapper")

    for i in company:
        #print(i)
        linkreg = re.findall(r'<meta\scontent="(https.+)"\sitemprop="url"',str(i))
        print(linkreg)
        #print(i)
        print("***"*20)

https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1
['https://www.ambitionbox.com/overview/tcs-overview']
************************************************************
['https://www.ambitionbox.com/overview/accenture-overview']
************************************************************
['https://www.ambitionbox.com/overview/wipro-overview']
************************************************************
['https://www.ambitionbox.com/overview/cognizant-overview']
************************************************************
['https://www.ambitionbox.com/overview/capgemini-overview']
************************************************************
['https://www.ambitionbox.com/overview/hdfc-bank-overview']
************************************************************
['https://www.ambitionbox.com/overview/infosys-overview']
************************************************************
['https://www.ambitionbox.com/overview/icici-bank-overview']
************************************************************
['https://www.ambitionbox.com/overview/hcl-technologies-overview']
************************************************************
['https://www.ambitionbox.com/overview/tech-mahindra-overview']
************************************************************
['https://www.ambitionbox.com/overview/genpact-overview']
************************************************************
['https://www.ambitionbox.com/overview/teleperformance-overview']
************************************************************
['https://www.ambitionbox.com/overview/concentrix-corporation-overview']
************************************************************
['https://www.ambitionbox.com/overview/axis-bank-overview']
************************************************************
['https://www.ambitionbox.com/overview/amazon-overview']
************************************************************
['https://www.ambitionbox.com/overview/jio-overview']
************************************************************
['https://www.ambitionbox.com/overview/ienergizer-overview']
************************************************************
['https://www.ambitionbox.com/overview/reliance-retail-overview']
************************************************************
['https://www.ambitionbox.com/overview/ibm-overview']
************************************************************
['https://www.ambitionbox.com/overview/ltimindtree-overview']
************************************************************
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=2
['https://www.ambitionbox.com/overview/hdb-financial-services-overview']
************************************************************
['https://www.ambitionbox.com/overview/larsen-and-toubro-limited-overview']
************************************************************
['https://www.ambitionbox.com/overview/deloitte-overview']
************************************************************
['https://www.ambitionbox.com/overview/kotak-mahindra-bank-overview']
************************************************************
['https://www.ambitionbox.com/overview/reliance-industries-overview']
************************************************************
['https://www.ambitionbox.com/overview/byjus-overview']
************************************************************
['https://www.ambitionbox.com/overview/vodafone-idea-overview']
************************************************************
['https://www.ambitionbox.com/overview/bharti-airtel-overview']
************************************************************
['https://www.ambitionbox.com/overview/wns-overview']
************************************************************
['https://www.ambitionbox.com/overview/tata-motors-overview']
************************************************************
['https://www.ambitionbox.com/overview/au-small-finance-bank-overview']
************************************************************
['https://www.ambitionbox.com/overview/indusind-bank-overview']
************************************************************
['https://www.ambitionbox.com/overview/flipkart-overview']
************************************************************
['https://www.ambitionbox.com/overview/ernst-young-overview']
************************************************************
['https://www.ambitionbox.com/overview/idfc-first-bank-overview']
************************************************************
['https://www.ambitionbox.com/overview/dxc-technology-overview']
************************************************************
['https://www.ambitionbox.com/overview/infosys-bpm-overview']
************************************************************
['https://www.ambitionbox.com/overview/mahindra-and-mahindra-overview']
************************************************************
['https://www.ambitionbox.com/overview/bajaj-finserv-overview']
************************************************************
['https://www.ambitionbox.com/overview/pwc-overview']
************************************************************

In [6]:
import time

In [40]:
Title = []
Ratings = []
Reviews  = []
C_Type = []
Salaries = []
Interviews = []
Jobs = []
Year_Founded = []
C_Age = []
Websites = []
for i in range(1,26):
    url = f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={i}"
    service = EdgeService(EdgeChromiumDriverManager().install())
    options = EdgeOptions()
    driver = webdriver.Edge(service=service, options=options)
    driver.get(url)
    print(url)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")
    company = soup.find_all("div", class_ = "companyCardWrapper")

    for i in company:
        title = i.find("h2", class_ = "companyCardWrapper__companyName")
        titreg = re.findall(r"\s+(.+)\s+",title.text)
        if titreg:
            Title.append(titreg[0])
        else:
            Title.append(np.nan)

        rating = i.find("div", class_ = "rating_star_container")
        ratreg = re.findall(r"\s+(.+)",rating.text)
        if ratreg:
            Ratings.append(ratreg[0])
        else:
            Ratings.append(np.nan)

        reviews = i.find("span", class_ = "companyCardWrapper__companyRatingCount")
        revreg = re.findall(r"\((.+)\)",reviews.text)
        if revreg:
            Reviews.append(revreg[0])
        else:
            Reviews.append(np.nan)

        ctype = i.find("span", class_ = "companyCardWrapper__interLinking")
        typreg = re.findall(r"\s+(.+)\s\|",ctype.text)
        if typreg:
            C_Type.append(typreg[0])
        else:
            C_Type.append(np.nan)

        salary = re.findall(r"Reviews(.+)\sSalaries",i.text)
        if salary:
            Salaries.append(salary[0])
        else:
            Salaries.append(np.nan)
            
        interview = re.findall(r"Salaries(.+)\sInter",i.text)
        if interview:
            Interviews.append(interview[0])
        else:
            Interviews.append(np.nan)

        job = re.findall(r"Interviews(.+)\sJobs",i.text)
        if job:
            Jobs.append(job[0])
        else:
            Jobs.append(np.nan)

        
        linkreg = re.findall(r'<meta\scontent="(https.+)"\sitemprop="url"',str(i))
        #service = EdgeService(EdgeChromiumDriverManager().install())
        #options = EdgeOptions()
        driver = webdriver.Edge(service=service, options=options)
        driver.get(linkreg[0])
        time.sleep(3)
        #print(linkreg[0])
        html = driver.page_source
        soup1 = BeautifulSoup(html, "html.parser")
        company2 = soup1.find_all("div",class_ = "bg-white flex flex-col")

        for j in company2:
            #year = j.find("div", class_ = "css-175oi2r gap-y-4 md:flex-row md:flex-wrap md:justify-start md:gap-y-[32px] md:gap-5")
            yearreg = re.findall(r"Founded in(\d+)\s\(",j.text)
            if yearreg:
                print(yearreg)
                Year_Founded.append(yearreg[0])
            else:
                Year_Founded.append(np.nan)

            cagereg = re.findall(r"\((\d+)\syrs",j.text)
            if cagereg:
                C_Age.append(cagereg[0])
            else:
                C_Age.append(np.nan)

            webreg = re.findall(r"Website(.+)\s?(?:Primary|Social)",j.text)
            if webreg:
                Websites.append(webreg[0])
            else:
                Websites.append(np.nan)
            
        driver.quit()

        
            
    driver.quit()


# 59.1k Reviews5.9L Salaries8.3k Interviews9.1k Jobs7.4k Benefits39 Photos

https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1
['1996']
['1989']
['1945']
['1994']
['1967']
['1994']
['1981']
['1994']
['1991']
['1986']
['1997']
['1978']
['1983']
['1993']
['1994']
['2018']
['2000']
['2006']
['1911']
['1997']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=2
['2007']
['1938']
['1845']
['2003']
['1977']
['2011']
['2018']
['1952']
['1996']
['1945']
['1996']
['1994']
['2007']
['2002']
['2018']
['2017']
['2002']
['1945']
['2007']
['1880']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=3
['2000']
['2002']
['1998']
['2001']
['2004']
['2017']
['2010']
['1907']
['1942']
['2007']
['1981']
['1983']
['1969']
['1986']
['1979']
['1876']
['1999']
['1935']
['1887']
['2000']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=4
['1984']
['1987']
['1852']
['2000']
['1968']
['2011']
['1872']
['2006']
['2002']
['1968']
['1944']
['1990']
['1952']
['2007']
['1982']
['1983']
['1910']
['1987']
['1968']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=5
['1976']
['2000']
['2017']
['2009']
['1979']
['1977']
['1895']
['1995']
['1989']
['1939']
['2000']
['2016']
['2003']
['2001']
['1999']
['2012']
['1996']
['1996']
['1992']
['1865']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=6
['1867']
['1986']
['1865']
['1853']
['2001']
['2002']
['1976']
['1978']
['2000']
['1983']
['1948']
['2001']
['2011']
['1991']
['1997']
['1999']
['1997']
['1984']
['1991']
['1996']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=7
['2009']
['2007']
['2012']
['1949']
['1784']
['2000']
['1979']
['1982']
['2014']
['1998']
['1996']
['2004']
['1990']
['1981']
['1982']
['1886']
['1906']
['1988']
['1806']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=8
['2015']
['2000']
['1983']
['2001']
['1999']
['1984']
['2008']
['2012']
['1998']
['2020']
['1945']
['1988']
['1967']
['1991']
['2015']
['1992']
['2012']
['2002']
['1945']
['1870']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=9
['1994']
['2002']
['1977']
['2000']
['2016']
['2007']
['1986']
['1983']
['2011']
['1901']
['2001']
['1993']
['1958']
['1966']
['1986']
['1988']
['2002']
['2001']
['2009']
['1990']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=10
['1930']
['1919']
['2008']
['1997']
['2020']
['1923']
['1897']
['1986']
['2010']
['1985']
['1959']
['1949']
['1907']
['1850']
['1998']
['1888']
['1966']
['1979']
['1958']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=11
['1954']
['1943']
['1995']
['1996']
['1959']
['2013']
['1995']
['2001']
['1944']
['2004']
['1904']
['1884']
['2016']
['2007']
['1885']
['1903']
['1967']
['1792']
['1977']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=12
['1973']
['1949']
['2000']
['1998']
['2001']
['1975']
['2008']
['2001']
['2022']
['1975']
['2001']
['1990']
['1946']
['1932']
['1997']
['2009']
['1987']
['1990']
['1998']
['2000']

PermissionError: [WinError 5] Access is denied: 'C:\\Users\\rake0\\.wdm\\drivers\\edgedriver\\win64\\135.0.3179.73\\Driver_Notes\\' -> 'C:\\Users\\rake0\\.wdm\\drivers\\edgedriver\\win64\\135.0.3179.73\\'

In [42]:
len(Year_Founded)

240

In [46]:
#Year_Founded

In [48]:
len(Title)

240

In [50]:
len(Reviews)

240

In [52]:
len(Ratings)

240

In [54]:
len(C_Type)

240

In [56]:
len(Salaries)

240

In [58]:
len(Interviews)

240

In [60]:
len(Jobs)

240

In [62]:
len(Year_Founded)

240

In [64]:
len(C_Age)

240

In [66]:
len(Websites)

240

In [68]:
C_Age

['29',
 '36',
 '80',
 '31',
 '58',
 '31',
 '44',
 '31',
 '34',
 '39',
 '28',
 '47',
 '42',
 '32',
 '31',
 '7',
 '25',
 '19',
 '114',
 '28',
 '18',
 '87',
 '180',
 '22',
 '48',
 '14',
 '7',
 '73',
 '29',
 '80',
 '29',
 '31',
 '18',
 '23',
 '7',
 '8',
 '23',
 '80',
 '18',
 '145',
 '25',
 '23',
 '27',
 '24',
 '21',
 '8',
 '15',
 '118',
 '83',
 '18',
 '44',
 '42',
 '56',
 '39',
 '46',
 '149',
 '26',
 '90',
 '138',
 '25',
 '41',
 '38',
 '173',
 nan,
 '25',
 '57',
 '14',
 '153',
 '19',
 '23',
 '57',
 '81',
 '35',
 '73',
 '18',
 '43',
 '42',
 '115',
 '38',
 '57',
 '49',
 '25',
 '8',
 '16',
 '46',
 '48',
 '130',
 '30',
 '36',
 '86',
 '25',
 '9',
 '22',
 '24',
 '26',
 '13',
 '29',
 '29',
 '33',
 '160',
 '158',
 '39',
 '160',
 '172',
 '24',
 '23',
 '49',
 '47',
 '25',
 '42',
 '77',
 '24',
 '14',
 '34',
 '28',
 '26',
 '28',
 '41',
 '34',
 '29',
 nan,
 '16',
 '18',
 '13',
 '76',
 '241',
 '25',
 '46',
 '43',
 '11',
 '27',
 '29',
 '21',
 '35',
 '44',
 '43',
 '139',
 '119',
 '37',
 '219',
 '10',
 '25',
 '42',
 '24',
 '26',
 '41',
 '17',
 '13',
 '27',
 '5',
 '80',
 '37',
 '58',
 '34',
 '10',
 '33',
 '13',
 '23',
 '80',
 '155',
 '31',
 '23',
 '48',
 '25',
 '9',
 '18',
 '39',
 '42',
 '14',
 '124',
 '24',
 '32',
 '67',
 '59',
 '39',
 '37',
 '23',
 '24',
 '16',
 '35',
 '95',
 '106',
 '17',
 '28',
 '5',
 '102',
 nan,
 '128',
 '39',
 '15',
 '40',
 '66',
 '76',
 '118',
 '175',
 '27',
 '137',
 '59',
 '46',
 '67',
 '71',
 '82',
 '30',
 '29',
 nan,
 '66',
 '12',
 '30',
 '24',
 '81',
 '21',
 '121',
 '141',
 '9',
 '18',
 '140',
 '122',
 '58',
 '233',
 '48',
 '52',
 '76',
 '25',
 '27',
 '24',
 '50',
 '17',
 '24',
 '3',
 '50',
 '24',
 '35',
 '79',
 '93',
 '28',
 '16',
 '38',
 '35',
 '27',
 '25']

In [70]:
Websites

['tcs.com',
 'accenture.com',
 'careers.wipro.com',
 'cognizant.com',
 'capgemini.com',
 'hdfcbank.com',
 'infosys.com ',
 'icicibank.com',
 'hcltech.com ',
 'techmahindra.com',
 'genpact.com',
 'teleperformance.com',
 'concentrix.com',
 'axisbank.com ',
 'amazon.jobs',
 'jio.com',
 'ienergizer.com Company contact no.8588894888 E-mailinfo@iEnergizer.com ',
 'relianceretail.com',
 'ibm.com',
 'ltimindtree.com',
 'hdbfs.com',
 'larsentoubro.com',
 'www2.deloitte.com',
 'kotak.com',
 'ril.com',
 'byjus.com',
 'myvi.in',
 'airtel.in',
 'wns.com',
 'tatamotors.com',
 'aubank.in',
 'indusind.com',
 'flipkart.com',
 'ey.com',
 'idfcfirstbank.com ',
 'dxc.com',
 'infosysbpm.com',
 'mahindra.com',
 'bajajfinserv.in',
 'pwc.com',
 'hdfclife.com',
 'conneqtcorp.com',
 'mphasis.com',
 'bandhanbank.com ',
 'yesbank.in',
 'startek.com',
 'paytm.com',
 'tatasteel.com',
 'asianpaints.com',
 'quesscorp.com',
 'marutisuzuki.com',
 'ultratechcement.com',
 'samsung.com',
 'sutherlandglobal.com ',
 'shriramfinance.in',
 'ericsson.com ',
 'exlservice.com',
 'cipla.com',
 'muthootfincorp.com',
 'joinhgs.com',
 'drreddys.com',
 'bajajfinserv.in',
 'wellsfargojobs.com E-mailprivacy.emea@wellsfargo.com ',
 'amazon.com',
 'iciciprulife.com',
 'jpmorganchase.com',
 'delhivery.com',
 'hul.co.in',
 'janabank.com',
 'optum.in',
 'lupin.com',
 'lntecc.com',
 'hexaware.com Company contact no.2267919595 E-mailmarketing@hexaware.com ',
 'zyduslife.com',
 'equitasbank.com Company contact no.18001031222 ',
 'jsw.in',
 'sunpharma.com Company contact no.2243244324 E-mailjanet.metz@sunpharma.com ',
 'itcportal.com',
 'kpmg.com',
 'fisglobal.com ',
 'hcl.com',
 'maxlifeinsurance.com',
 'ujjivansfb.in',
 'ekartlogistics.com',
 'tataprojects.com Company contact no.2267402900 E-mailtpl@tataprojects.com ',
 'oracle.com',
 'indianarmy.nic.in',
 'iifl.com',
 'meil.in',
 'muthootfinance.com',
 'eclerx.com',
 'udaan.com',
 'omegahms.com',
 'bajajallianzlife.com',
 'jll.co.in',
 'Ltts.com',
 'virtusa.com',
 'indiamart.com',
 'coforge.com',
 'hsbc.com',
 'siemens.com ',
 'aurobindo.com',
 'shapoorjipallonji.com',
 'sc.com',
 'firstsource.com',
 'dmartindia.com',
 'cgi.com',
 'cholamandalam.com',
 'globallogic.com',
 "apollohospitals.comPrimary IndustryHealthcareOther Industries--Are you managing Apollo Hospitals's employer brand? To edit company information,claim this page for freeReplay videoView in video summaryApollo Hospitals was established in 1983 by Dr. Prathap C Reddy, renowned as the architect of modern healthcare in India. As the nation's first corporate hospital, Apollo Hospitals is acclaimed for pioneering the private healthcare revolution in the country. Apollo Hospitals has emerged as Asia's foremost integrated healthcare services provider and has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies, ",
 "ashokleyland.comPrimary IndustryAutomobileOther IndustriesFinancial Services|Industrial Machinery|Manufacturing|Analytics & KPOAre you managing Ashok Leyland's employer brand? To edit company information,claim this page for freeReplay videoView in video summaryAshok Leyland, flagship of the Hinduja group, is the 2nd largest manufacturer ofcommercial vehicles in India, and the 5th largest manufacturer of buses globally. The Chennai-based $4.5 billion company has nine manufacturing plants spread across India, UAE, UK and is present across 50 countries. The company has ISO/ TS 16949 Corporate Certification and is also the first truck/bus manufacturer outside Japan to win the Deming Prize for its Pantnagar Plant in 2016 and Hosur Unit II in 2017.Ashok Leyland has a product range of 2.5T GVW (Gross Vehicle Weight) to 55T GTW (Gross Trailer Weight) in trucks, 9 to 80-seater buses, vehicles for defense and special applications, diesel engines for industrial, genset, and marine applications. The company has also launched the first Indian electric bus.Ashok Leyland has a strong legacy of introducing industry-first solutions such as the unique i-EGR technology for BS-IV engines and the revolutionary i-Gen6 technology for BS-VI engines. With a passion for furthering the legacy and creating differentiated solutions, the company indigenously developed India’s first Modular truck platform - AVTR, and is now foraying into the alternative fuel technology product space with Battery electric vehicles, Hydrogen fuel cell electric vehicles, H2ICE vehicles, and LNG vehicles. \xa0Ashok Leyland’s future-ready and industry-first customer-centric offerings are all set to create a paradigm shift in the customer experience.\xa0In the Commercial Vehicle Industry, Ashok Leyland has one of the largest and fastest-growing networks with over 53,000+ touchpoints. With technology-enabled customer engagement processes and knowledge of specific applications of the product range, Ashok Leyland sales teams are well-equipped to fulfil customer needs.Since its inception, Ashok Leyland Driver Training Institutes have trained over 24 lakh drivers across India. Ashok Leyland service training institutes provide on-site service training for technicians across the country.Ashok Leyland’s aftermarket products and solutions bring together comprehensive coverage, proactive service, and rapid response in a wide gamut of solutions. These include everything the stakeholders might require, from reliable Annual Maintenance Contracts to user-friendly insurance, intuitive maintenance programs, and the latest technology innovations in telematics. Ashok Leyland offers next-generation innovative digital solutions such as iALERT, LEYKART, and ALCARE to provide a truly seamless digital experience for all its stakeholders.The company is committed to its Environment, Social, and Governance agendas and is driving various initiatives under all these categories. Every company decision is always taken, considering the values of sustainability and a socially responsible approach to fulfilling its mission of inclusive growth. The company practices good corporate governance with transparency, accountability, compliance, and disclosure. The Corporate ",
 'icicilombard.com',
 'bigbasket.com Company contact no.8601231000 E-mailcustomerservice@bigbasket.com ',
 'cyient.com',
 'bosch-softwaretechnologies.com',
 'ust.com',
 'citigroup.com',
 'heromotocorp.com',
 'mahindrafinance.com',
 'justdial.com',
 'eviden.com',
 'vivo.com',
 'smfgindiacredit.com',
 'homecredit.co.in',
 'manappuram.com',
 'bny.com',
 'atos.net',
 'tvsmotor.com',
 'iqvia.com',
 'swiggy.com',
 'sbicard.com',
 'nagarro.com',
 'oppo.com',
 'persistent.com Company contact no.2067462084 E-mailinfo@persistent.com ',
 'kalpataruprojects.com',
 'amdocs.com',
 'bosch.com',
 'cbre.co.in',
 'global.ntt',
 'sbi.co.in',
 'hpe.com',
 'mahindralogistics.com',
 'jbmgroup.com',
 'sbilife.co.in',
 'schneiderelectric.com',
 'dell.com',
 'policybazaar.com ',
 'ecomexpress.in',
 'ncclimited.com',
 'piramalfinance.com',
 'kecrpg.com',
 'abfrl.com',
 'hyundai.com',
 'varunbeverages.com',
 'cars24.com',
 'randstad.in',
 'oyorooms.com',
 'ey.com',
 'bajajauto.com',
 'db.com',
 'ltfinance.com',
 'rcom.co.in',
 'intaspharma.com',
 'itcinfotech.com',
 'teamleasegroup.com',
 'r1rcm.com',
 'tatacommunications.com',
 'havells.com',
 'accesshealthcare.com',
 'royalenfield.com',
 'johndeere.com',
 'hetero.com ',
 'lg.com',
 'thermaxglobal.com',
 'macleodspharma.com',
 'aakash.ac.in',
 'hdfcergo.com',
 'tataaia.com',
 'utkarsh.bank',
 'careers.publicissapient.com Career pagehttps://careers.publicissapient.com/ ',
 'dcbbank.com',
 'cummins.com',
 'vecv.in',
 'pvrcinemas.com',
 'viatris.com',
 'bergerpaints.com',
 'carelonglobal.in',
 'godrej.com',
 'motherson.com',
 'lenskart.com ',
 'subros.com',
 'pidilite.com ',
 'in.adp.com',
 'alembicpharmaceuticals.com',
 'americanexpress.com',
 'bankofamerica.com',
 'abbott.com',
 'sodexo.com',
 'jindalsteel.com',
 'hindalco.com',
 'bel-india.in',
 'rblbank.com',
 'jubilantfoodworks.com',
 'kogta.in',
 'ril.com',
 'iocl.com',
 'futuregroup.in',
 'birlasoft.com',
 'synechron.com',
 'escortskubota.com ',
 'cogenteservices.com',
 'maersk.com ',
 'dabur.com',
 'marpu.orgPrimary IndustryNon-ProfitOther Industries--Marpu Foundation  RatingsView allbased on 3k reviewsOverall Rating4.8/5How AmbitionBox ratings work?52.6k43603372315Category Ratings4.8Company culture4.7Work-life balance4.7Skill development4.7Work satisfaction4.6Job security4.5Salary4.5PromotionsMarpu Foundation  is rated 4.8 out of 5 stars on AmbitionBox, based on 3k company reviews. This rating reflects a generally positive employee experience, indicating satisfaction with the company’s work culture, benefits, and career growth opportunities. AmbitionBox gathers authentic employee reviews and ratings, making it a trusted platform for job seekers and employees in India.Read moreGender Based Ratings at Marpu Foundation based on 2.8k reviews4.8Rated by 1.9k WomenRated 4.8 for Company culture and 4.7 for Work-life balance 4.8Rated by 902 MenRated 4.8 for Company culture and 4.8 for Work satisfaction Work Policy at Marpu Foundation  based on 388 reviews in last 6 monthsPermanent work from home66%Hybrid27%Work from office7%Marpu Foundation  ReviewsView allTop mentions in Marpu Foundation  ReviewsLearning (400)Career Growth (361)Work Environment (284)Working Hours/shift (194)Work Culture (149)+ 5 moreLikes:Dislikes:Medical ',
 'reliancedigital.in',
 'johnsoncontrols.in ',
 'corporate.ford.com',
 'us.nttdata.com Career pagehttps://us.nttdata.com/en/careers Follow us on naukrihttps://www.naukri.com/ntt-data-information-processing-services-overview-10036880 ',
 'statestreet.com',
 'glenmarkpharma.com',
 'alkemlabs.com',
 'ipca.com',
 '247.ai',
 'ubs.com',
 'pnbmetlife.com',
 'aarti-industries.com',
 'vishalmegamart.com',
 'kotaklife.com',
 'kyndryl.com Career pagehttps://www.kyndryl.com/in/en/careers Follow us on naukrihttps://www.naukri.com/kyndryl-overview-5462642 Company contact no.9980851851 E-mailinquiry@kyndryl.com ',
 'jkcement.com',
 'honda2wheelersindia.com',
 'kpit.com',
 'mrftyres.com',
 'indianairforce.nic.in',
 'hccb.in',
 'harman.com',
 'motilaloswalgroup.com ',
 'dtdc.in',
 'igtsolutions.com',
 'lifeinsurance.adityabirlacapital.com']

In [5]:
Title = []
Ratings = []
Reviews  = []
C_Type = []
Salaries = []
Interviews = []
Jobs = []
#Year_Founded = []
#C_Age = []
#Websites = []
for i in range(1,26):
    url = f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={i}"
    service = EdgeService(EdgeChromiumDriverManager().install())
    options = EdgeOptions()
    driver = webdriver.Edge(service=service, options=options)
    driver.get(url)
    print(url)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")
    company = soup.find_all("div", class_ = "companyCardWrapper")

    for i in company:
        title = i.find("h2", class_ = "companyCardWrapper__companyName")
        titreg = re.findall(r"\s+(.+)\s+",title.text)
        if titreg:
            Title.append(titreg[0])
        else:
            Title.append(np.nan)

        rating = i.find("div", class_ = "rating_star_container")
        ratreg = re.findall(r"\s+(.+)",rating.text)
        if ratreg:
            Ratings.append(ratreg[0])
        else:
            Ratings.append(np.nan)

        reviews = i.find("span", class_ = "companyCardWrapper__companyRatingCount")
        revreg = re.findall(r"\((.+)\)",reviews.text)
        if revreg:
            Reviews.append(revreg[0])
        else:
            Reviews.append(np.nan)

        ctype = i.find("span", class_ = "companyCardWrapper__interLinking")
        typreg = re.findall(r"\s+(.+)\s\|",ctype.text)
        if typreg:
            C_Type.append(typreg[0])
        else:
            C_Type.append(np.nan)

        salary = re.findall(r"Reviews(.+)\sSalaries",i.text)
        if salary:
            Salaries.append(salary[0])
        else:
            Salaries.append(np.nan)
            
        interview = re.findall(r"Salaries(.+)\sInter",i.text)
        if interview:
            Interviews.append(interview[0])
        else:
            Interviews.append(np.nan)

        job = re.findall(r"Interviews(.+)\sJobs",i.text)
        if job:
            Jobs.append(job[0])
        else:
            Jobs.append(np.nan)

    driver.quit()

https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=2
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=3
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=4
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=5
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=6
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=7
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=8
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=9
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=10
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=11
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=12
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=13
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=14
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=15
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=16
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=17
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=18
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=19
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=20
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=21
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=22
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=23
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=24
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=25

In [7]:
len(Title)

500

In [9]:
len(Reviews)

500

In [11]:
len(Ratings)

500

In [13]:
len(C_Type)

500

In [15]:
len(Salaries)

500

In [17]:
len(Interviews)

500

In [19]:
len(Jobs)

500

In [21]:
dic = {"Title":Title,"Reviews":Reviews,"Ratings":Ratings,"Company Type":C_Type,"Salaries":Salaries,"Total Interviews":Interviews,"Total Jobs":Jobs}

In [23]:
df_c = pd.DataFrame(dic)
df_c

,Title,Reviews,Ratings,Company Type,Salaries,Total Interviews,Total Jobs
0,TCS,93.7k,3.7,IT Services & Consulting,8.9L,10.7k,177
1,Accenture,59.3k,3.8,IT Services & Consulting,5.9L,8.4k,8.8k
2,Wipro,55.1k,3.7,IT Services & Consulting,4.5L,5.8k,4.1k
3,Cognizant,52.4k,3.7,IT Services & Consulting,5.7L,5.7k,204
4,Capgemini,43.9k,3.7,IT Services & Consulting,4.4L,4.9k,2k
...,...,...,...,...,...,...,...
495,Infinite Computer Solutions,1.6k,3.4,IT Services & Consulting,12.7k,150,185
496,Philips,1.6k,3.8,Consumer Electronics & Appliances,10.3k,160,119
497,Dr Lal PathLabs,1.6k,4.2,Healthcare,4.4k,130,58
498,Honeywell Automation,1.6k,3.8,Industrial Automation,11.4k,104,1
499,Nuvoco Vistas,1.6k,4.1,Building Material,6.2k,99,20

In [27]:
df_c.to_csv("AmbitionBox_1.csv")

In [31]:
import time

In [36]:
Year_Founded = []
C_Age = []
Websites = []
for i in range(1,11):
    url = f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={i}"
    service = EdgeService(EdgeChromiumDriverManager().install())
    options = EdgeOptions()
    driver = webdriver.Edge(service=service, options=options)
    driver.get(url)
    print(url)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")
    company = soup.find_all("div", class_ = "companyCardWrapper")

    for i in company:
        linkreg = re.findall(r'<meta\scontent="(https.+)"\sitemprop="url"',str(i))
        #service = EdgeService(EdgeChromiumDriverManager().install())
        #options = EdgeOptions()
        driver = webdriver.Edge(service=service, options=options)
        driver.get(linkreg[0])
        time.sleep(3)
        #print(linkreg[0])
        html = driver.page_source
        soup1 = BeautifulSoup(html, "html.parser")
        company2 = soup1.find_all("div",class_ = "bg-white flex flex-col")

        for j in company2:
            #year = j.find("div", class_ = "css-175oi2r gap-y-4 md:flex-row md:flex-wrap md:justify-start md:gap-y-[32px] md:gap-5")
            yearreg = re.findall(r"Founded in(\d+)\s\(",j.text)
            if yearreg:
                print(yearreg)
                Year_Founded.append(yearreg[0])
            else:
                Year_Founded.append(np.nan)

            cagereg = re.findall(r"\((\d+)\syrs",j.text)
            if cagereg:
                C_Age.append(cagereg[0])
            else:
                C_Age.append(np.nan)

            webreg = re.findall(r"Website(.+)\s?(?:Primary|Social)",j.text)
            if webreg:
                Websites.append(webreg[0])
            else:
                Websites.append(np.nan)
            
        driver.quit()

        
            
    driver.quit()

https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1
['1996']
['1989']
['1945']
['1994']
['1967']
['1994']
['1981']
['1994']
['1991']
['1986']
['1997']
['1978']
['1983']
['1993']
['1994']
['2018']
['2000']
['2006']
['1911']
['1997']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=2
['2007']
['1938']
['1845']
['2003']
['1977']
['2011']
['2018']
['1952']
['1996']
['1945']
['1996']
['1994']
['2007']
['2002']
['2018']
['2017']
['2002']
['1945']
['2007']
['1880']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=3
['2000']
['2002']
['1998']
['2001']
['2004']
['2017']
['2010']
['1907']
['1942']
['2007']
['1981']
['1983']
['1969']
['1986']
['1979']
['1876']
['1999']
['1935']
['1887']
['2000']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=4
['1984']
['1987']
['1852']
['2000']
['1968']
['2011']
['1872']
['2006']
['2002']
['1968']
['1990']
['1944']
['1952']
['2007']
['1982']
['1983']
['1910']
['1987']
['1968']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=5
['1976']
['2000']
['2017']
['2009']
['1979']
['1977']
['1895']
['1995']
['1989']
['1939']
['2000']
['2016']
['2003']
['2001']
['1999']
['2012']
['1996']
['1996']
['1992']
['1865']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=6
['1867']
['1986']
['1865']
['1853']
['2001']
['2002']
['1976']
['1978']
['2000']
['1983']
['1948']
['2001']
['2011']
['1991']
['1997']
['1999']
['1997']
['1984']
['1991']
['1996']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=7
['2009']
['2007']
['2012']
['1949']
['1784']
['2000']
['1979']
['1982']
['2014']
['1998']
['1996']
['2004']
['1990']
['1981']
['1982']
['1886']
['1906']
['1988']
['1806']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=8
['2015']
['2000']
['1983']
['2001']
['1999']
['1984']
['2008']
['2012']
['1998']
['2020']
['1945']
['1988']
['1967']
['1991']
['2015']
['1992']
['2012']
['2002']
['1945']
['1870']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=9
['1994']
['2002']
['1977']
['2000']
['2016']
['2007']
['1986']
['1983']
['2011']
['1901']
['2001']
['1993']
['1958']
['1966']
['1986']
['1988']
['2002']
['2001']
['2009']
['1990']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=10
['1930']
['1919']
['2008']
['1997']
['2020']
['1923']
['1897']
['1986']
['2010']
['1985']
['1959']
['1949']
['1907']
['1850']
['1998']
['1888']
['1966']
['1979']
['1958']

In [38]:
len(Year_Founded)

200

In [40]:
len(C_Age)

200

In [42]:
len(Websites)

200

In [44]:
dic2 = {"Founded Year":Year_Founded,"Company Age":C_Age,"Websites":Websites}

In [46]:
df_1 = pd.DataFrame(dic2)
df_1

    Founded Year Company Age           Websites
0           1996          29            tcs.com
1           1989          36      accenture.com
2           1945          80  careers.wipro.com
3           1994          31      cognizant.com
4           1967          58      capgemini.com
..           ...         ...                ...
195         1998          27  bankofamerica.com
196         1888         137         abbott.com
197         1966          59         sodexo.com
198         1979          46    jindalsteel.com
199         1958          67       hindalco.com

[200 rows x 3 columns]

In [48]:
df_1.to_csv("FoundYear.csv")

In [52]:
Year_Founded = []
C_Age = []
Websites = []
for i in range(11,21):
    url = f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={i}"
    service = EdgeService(EdgeChromiumDriverManager().install())
    options = EdgeOptions()
    driver = webdriver.Edge(service=service, options=options)
    driver.get(url)
    print(url)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")
    company = soup.find_all("div", class_ = "companyCardWrapper")

    for i in company:
        linkreg = re.findall(r'<meta\scontent="(https.+)"\sitemprop="url"',str(i))
        #service = EdgeService(EdgeChromiumDriverManager().install())
        #options = EdgeOptions()
        driver = webdriver.Edge(service=service, options=options)
        driver.get(linkreg[0])
        time.sleep(5)
        #print(linkreg[0])
        html = driver.page_source
        soup1 = BeautifulSoup(html, "html.parser")
        company2 = soup1.find_all("div",class_ = "bg-white flex flex-col")

        for j in company2:
            #year = j.find("div", class_ = "css-175oi2r gap-y-4 md:flex-row md:flex-wrap md:justify-start md:gap-y-[32px] md:gap-5")
            yearreg = re.findall(r"Founded in(\d+)\s\(",j.text)
            if yearreg:
                print(yearreg)
                Year_Founded.append(yearreg[0])
            else:
                Year_Founded.append(np.nan)

            cagereg = re.findall(r"\((\d+)\syrs",j.text)
            if cagereg:
                C_Age.append(cagereg[0])
            else:
                C_Age.append(np.nan)

            webreg = re.findall(r"Website(.+)\s?(?:Primary|Social)",j.text)
            if webreg:
                Websites.append(webreg[0])
            else:
                Websites.append(np.nan)
            
        driver.quit()

        
            
    driver.quit()

https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=11
['1954']
['1943']
['1995']
['1996']
['1959']
['2013']
['1995']
['2001']
['1944']
['2004']
['1904']
['1884']
['2016']
['2007']
['1885']
['1903']
['1967']
['1792']
['1977']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=12
['1973']
['1949']
['2000']
['1998']
['2001']
['1975']
['2008']
['2001']
['2022']
['1975']
['2001']
['1990']
['1946']
['1932']
['1997']
['2009']
['1987']
['1990']
['1998']
['2000']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=13
['2000']
['1988']
['2017']
['1958']
['2014']
['2005']
['2005']
['1947']
['2018']
['1977']
['1928']
['2007']
['2014']
['2001']
['1989']
['2000']
['1965']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=14
['1860']
['1984']
['1988']
['1958']
['2012']
['1969']
['1936']
['2001']
['1971']
['2006']
['1995']
['2009']
['1959']
['1991']
['2000']
['1690']
['1987']
['2008']
['2005']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=15
['1997']
['2004']
['2005']
['1969']
['2011']
['1865']
['2003']
['2016']
['1984']
['2015']
['1972']
['1959']
['2007']
['2012']
['2012']
['1995']
['2008']
['1973']
['2011']
['2016']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=16
['2005']
['1983']
['2015']
['1935']
['1929']
['2006']
['1941']
['1979']
['1960']
['1989']
['2015']
['1938']
['1892']
['1973']
['1988']
['1947']
['1996']
['2007']
['1995']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=17
['2011']
['1896']
['1954']
['1955']
['2007']
['2017']
['1970']
['1983']
['2006']
['2000']
['2013']
['1996']
['1935']
['1960']
['1970']
['1907']
['1943']
['2008']
['2014']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=18
['1996']
['1930']
['1903']
['1969']
['2002']
['1920']
['1973']
['2002']
['1975']
['1985']
['2009']
['1995']
['2007']
['2004']
['1924']
['1999']
['1857']
['1993']
['2006']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=19
['2015']
['2001']
['1927']
['2016']
['1996']
['1846']
['1995']
['2010']
['2007']
['1995']
['1984']
['2011']
['1998']
['1982']
['2012']
['1993']
['1945']
['2004']
['1978']
['1983']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=20
['2001']
['1909']
['1990']
['2008']
['2006']
['1968']
['2007']
['2006']
['2007']
['2017']
['1998']
['1951']
['2015']
['1853']
['1995']
['1830']
['2017']
['1991']
['1964']

In [54]:
len(Year_Founded)

200

In [56]:
len(C_Age)

200

In [58]:
len(Websites)

200

In [60]:
dic3 = {"Founded Year":Year_Founded,"Company Age":C_Age,"Websites":Websites}

In [62]:
df_2 = pd.DataFrame(dic3)
df_2

,Founded Year,Company Age,Websites
0,1954,71,bel-india.in
1,1943,82,rblbank.com
2,1995,30,jubilantfoodworks.com
3,1996,29,kogta.in
4,NaN,NaN,ril.com
...,...,...,...
195,1995,30,sobha.comPrimary IndustryReal EstateOther Indu...
196,1830,195,gsk-india.com
197,2017,8,olaelectric.com
198,1991,34,herofincorp.com
199,1964,61,bhel.com

In [64]:
df_2.to_csv("FoundYear_2.csv")

In [66]:
Year_Founded = []
C_Age = []
Websites = []
for i in range(21,26):
    url = f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={i}"
    service = EdgeService(EdgeChromiumDriverManager().install())
    options = EdgeOptions()
    driver = webdriver.Edge(service=service, options=options)
    driver.get(url)
    print(url)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")
    company = soup.find_all("div", class_ = "companyCardWrapper")

    for i in company:
        linkreg = re.findall(r'<meta\scontent="(https.+)"\sitemprop="url"',str(i))
        #service = EdgeService(EdgeChromiumDriverManager().install())
        #options = EdgeOptions()
        driver = webdriver.Edge(service=service, options=options)
        driver.get(linkreg[0])
        time.sleep(5)
        #print(linkreg[0])
        html = driver.page_source
        soup1 = BeautifulSoup(html, "html.parser")
        company2 = soup1.find_all("div",class_ = "bg-white flex flex-col")

        for j in company2:
            #year = j.find("div", class_ = "css-175oi2r gap-y-4 md:flex-row md:flex-wrap md:justify-start md:gap-y-[32px] md:gap-5")
            yearreg = re.findall(r"Founded in(\d+)\s\(",j.text)
            if yearreg:
                print(yearreg)
                Year_Founded.append(yearreg[0])
            else:
                Year_Founded.append(np.nan)

            cagereg = re.findall(r"\((\d+)\syrs",j.text)
            if cagereg:
                C_Age.append(cagereg[0])
            else:
                C_Age.append(np.nan)

            webreg = re.findall(r"Website(.+)\s?(?:Primary|Social)",j.text)
            if webreg:
                Websites.append(webreg[0])
            else:
                Websites.append(np.nan)
            
        driver.quit()

        
            
    driver.quit()

https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=21
['1968']
['1999']
['2022']
['1980']
['1984']
['2011']
['1956']
['1911']
['1828']
['2007']
['2015']
['2007']
['2006']
['1974']
['2005']
['2008']
['2007']
['1925']
['2004']
['1985']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=22
['1980']
['1944']
['1983']
['1992']
['1957']
['1958']
['2005']
['2006']
['1972']
['1997']
['2015']
['1983']
['1908']
['1988']
['1961']
['1994']
['2017']
['2012']
['1989']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=23
['1975']
['1995']
['1962']
['1865']
['1999']
['1989']
['2006']
['1962']
['1987']
['2007']
['1952']
['1972']
['2019']
['2009']
['2009']
['1975']
['2005']
['1998']
['1958']
['1957']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=24
['1988']
['1996']
['1999']
['2007']
['2015']
['1665']
['1987']
['1994']
['1990']
['1961']
['2009']
['1987']
['1951']
['1996']
['1996']
['1964']
['1848']
['1884']
https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=25
['1929']
['1927']
['2008']
['1962']
['2000']
['1989']
['1985']
['2014']
['2008']
['1993']
['2010']
['1878']
['2000']
['1931']
['1940']
['2001']
['1930']
['1949']
['1906']
['2014']

In [68]:
len(Year_Founded)

100

In [70]:
len(C_Age)

100

In [72]:
len(Websites)

100

In [74]:
dic4 = {"Founded Year":Year_Founded,"Company Age":C_Age,"Websites":Websites}

In [80]:
df_3 = pd.DataFrame(dic4)
df_3

   Founded Year Company Age                                           Websites
0          1968          57  soprasteria.com Company contact no.0140672929 ...
1          1999          26                                          photon.in
2          2022           3                                 sagilityhealth.com
3          1980          45                                        straive.com
4          1984          41                                          cisco.com
..          ...         ...                                                ...
95         2001          24                                      infinite.com
96         1930          95                                        philips.com
97         1949          76                                    lalpathlabs.com
98         1906         119                                      honeywell.com
99         2014          11                                        nuvoco.com

[100 rows x 3 columns]

In [82]:
df_3.to_csv("FoundYear_3.csv")

In [84]:
df_1

    Founded Year Company Age           Websites
0           1996          29            tcs.com
1           1989          36      accenture.com
2           1945          80  careers.wipro.com
3           1994          31      cognizant.com
4           1967          58      capgemini.com
..           ...         ...                ...
195         1998          27  bankofamerica.com
196         1888         137         abbott.com
197         1966          59         sodexo.com
198         1979          46    jindalsteel.com
199         1958          67       hindalco.com

[200 rows x 3 columns]

In [86]:
df_2

,Founded Year,Company Age,Websites
0,1954,71,bel-india.in
1,1943,82,rblbank.com
2,1995,30,jubilantfoodworks.com
3,1996,29,kogta.in
4,NaN,NaN,ril.com
...,...,...,...
195,1995,30,sobha.comPrimary IndustryReal EstateOther Indu...
196,1830,195,gsk-india.com
197,2017,8,olaelectric.com
198,1991,34,herofincorp.com
199,1964,61,bhel.com

In [88]:
df_3

   Founded Year Company Age                                           Websites
0          1968          57  soprasteria.com Company contact no.0140672929 ...
1          1999          26                                          photon.in
2          2022           3                                 sagilityhealth.com
3          1980          45                                        straive.com
4          1984          41                                          cisco.com
..          ...         ...                                                ...
95         2001          24                                      infinite.com
96         1930          95                                        philips.com
97         1949          76                                    lalpathlabs.com
98         1906         119                                      honeywell.com
99         2014          11                                        nuvoco.com

[100 rows x 3 columns]

In [94]:
df_main = pd.concat([df_1,df_2,df_3],axis = 0)
df_main

   Founded Year Company Age           Websites
0          1996          29            tcs.com
1          1989          36      accenture.com
2          1945          80  careers.wipro.com
3          1994          31      cognizant.com
4          1967          58      capgemini.com
..          ...         ...                ...
95         2001          24      infinite.com
96         1930          95        philips.com
97         1949          76    lalpathlabs.com
98         1906         119      honeywell.com
99         2014          11        nuvoco.com

[500 rows x 3 columns]

In [98]:
df_main.to_csv("FoundYear_500.csv")

In [100]:
df_main.reset_index(inplace=True)

In [102]:
df_main

     index Founded Year Company Age           Websites
0        0         1996          29            tcs.com
1        1         1989          36      accenture.com
2        2         1945          80  careers.wipro.com
3        3         1994          31      cognizant.com
4        4         1967          58      capgemini.com
..     ...          ...         ...                ...
495     95         2001          24      infinite.com
496     96         1930          95        philips.com
497     97         1949          76    lalpathlabs.com
498     98         1906         119      honeywell.com
499     99         2014          11        nuvoco.com

[500 rows x 4 columns]

In [108]:
df_main.drop(['index'],axis=1,inplace=True)

In [110]:
df_main

    Founded Year Company Age           Websites
0           1996          29            tcs.com
1           1989          36      accenture.com
2           1945          80  careers.wipro.com
3           1994          31      cognizant.com
4           1967          58      capgemini.com
..           ...         ...                ...
495         2001          24      infinite.com
496         1930          95        philips.com
497         1949          76    lalpathlabs.com
498         1906         119      honeywell.com
499         2014          11        nuvoco.com

[500 rows x 3 columns]

In [112]:
df_org = pd.concat([df_c,df_main],axis = 1)
df_org

,Title,Reviews,Ratings,Company Type,Salaries,Total Interviews,Total Jobs,Founded Year,Company Age,Websites
0,TCS,93.7k,3.7,IT Services & Consulting,8.9L,10.7k,177,1996,29,tcs.com
1,Accenture,59.3k,3.8,IT Services & Consulting,5.9L,8.4k,8.8k,1989,36,accenture.com
2,Wipro,55.1k,3.7,IT Services & Consulting,4.5L,5.8k,4.1k,1945,80,careers.wipro.com
3,Cognizant,52.4k,3.7,IT Services & Consulting,5.7L,5.7k,204,1994,31,cognizant.com
4,Capgemini,43.9k,3.7,IT Services & Consulting,4.4L,4.9k,2k,1967,58,capgemini.com
...,...,...,...,...,...,...,...,...,...,...
495,Infinite Computer Solutions,1.6k,3.4,IT Services & Consulting,12.7k,150,185,2001,24,infinite.com
496,Philips,1.6k,3.8,Consumer Electronics & Appliances,10.3k,160,119,1930,95,philips.com
497,Dr Lal PathLabs,1.6k,4.2,Healthcare,4.4k,130,58,1949,76,lalpathlabs.com
498,Honeywell Automation,1.6k,3.8,Industrial Automation,11.4k,104,1,1906,119,honeywell.com
499,Nuvoco Vistas,1.6k,4.1,Building Material,6.2k,99,20,2014,11,nuvoco.com

In [114]:
df_org.to_csv("Companies_500.csv")

### df = pd.concat([df,jobs1],axis = 0)

In [90]:
df_c

,Title,Reviews,Ratings,Company Type,Salaries,Total Interviews,Total Jobs
0,TCS,93.7k,3.7,IT Services & Consulting,8.9L,10.7k,177
1,Accenture,59.3k,3.8,IT Services & Consulting,5.9L,8.4k,8.8k
2,Wipro,55.1k,3.7,IT Services & Consulting,4.5L,5.8k,4.1k
3,Cognizant,52.4k,3.7,IT Services & Consulting,5.7L,5.7k,204
4,Capgemini,43.9k,3.7,IT Services & Consulting,4.4L,4.9k,2k
...,...,...,...,...,...,...,...
495,Infinite Computer Solutions,1.6k,3.4,IT Services & Consulting,12.7k,150,185
496,Philips,1.6k,3.8,Consumer Electronics & Appliances,10.3k,160,119
497,Dr Lal PathLabs,1.6k,4.2,Healthcare,4.4k,130,58
498,Honeywell Automation,1.6k,3.8,Industrial Automation,11.4k,104,1
499,Nuvoco Vistas,1.6k,4.1,Building Material,6.2k,99,20